<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Orders </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let p of productServices.cart">
        {{p}}
        <app-product [product]="p"></app-product>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
