<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let product of products">
    <div class="img-container">
      <img style="max-width: 50%" [src]="product.image">
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{product.category}}</ion-card-subtitle>
      <ion-card-title>{{product.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{product.description}}
      <span>
        <h3 style="display: inline-block">{{product.price}}</h3> $
      </span>
    </ion-card-content>
  </ion-card>

</ion-content>
